---
import { getCollection } from 'astro:content'
import Section from '@/components/Section'
import Chip from './Chip'
import Explanation from './Explanation'

interface Props {
  lang?: string
}

const { lang = 'ko' } = Astro.props

const allContents = await getCollection('techs')
const matchingContents = allContents.filter(c =>
  c.filePath?.includes(`/${lang}/`),
)

matchingContents.sort((a, b) => a.data.order - b.data.order)

const explanations = Object.fromEntries(
  matchingContents.map(c => [c.data.title, c.rendered?.html ?? '']),
)
---

<Section
  id="techs"
  title="Techs I use & love"
  class="print:break-inside-avoid-page"
  client:idle
>
  <ul class="flex flex-wrap gap-2 py-4 max-w-700px">
    {
      matchingContents.map(c => (
        <Chip text={c.data.title} iconUrl={c.data.iconUrl} client:idle />
      ))
    }
  </ul>
  <Explanation
    initialItem={matchingContents[0].data.title}
    explanations={explanations}
    client:idle
  />
</Section>
